<div class="container">
  <button type="button" class="btn btn-warning mt-5" (click)="obtenerMarcas()">OBTENER MARCAS</button>
  <div class="row w-50 mx-auto mt-5 text-center border border-warning border-2 rounded-4 p-3">
    <h1 class="text-muted">MARCAS DE AUTOS DE LUJO</h1>
    <ul class="col-6 list-group pb-2" *ngFor="let m of marcas; let i = index">
      <button type="button" class="col-12 list-group-item list-group-item-action list-group-item-warning"
        (click)="obtenerModel(i)" data-bs-toggle="modal" data-bs-target="#exampleModal">{{m.name}}</button>
    </ul>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">MODELOS:</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ul class="list-group" *ngFor="let mod of models">
              <li class="list-group-item">{{mod.name}}</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>