<div class="container p-0">
    <section class="row align-items-end mt-5 mb-5">
      <h2 class="text-center font-monospace  fst-italic" style="color: #372c2b;">SIGNOS DEL ZODIACO</h2>
      <div class="row col-md-4 col-6">
        <img src="assets/img/acuario.png" class="img-fluid float-end" style="width: 13rem;" alt="Imagen">
        <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#acuario" role="button">Acuario</a>
      </div>
      <div class="row col-md-4 col-6 text-center">
        <img src="assets/img/aries.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
        <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#aries" role="button">Aries</a>
      </div>
      <div class="row col-md-4 col-6 text-center">
        <img src="assets/img/cancer.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
        <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Cancer</a>
      </div>
      <div class="row col-md-4 col-6 text-center">
        <img src="assets/img/tauro.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
        <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Tauro</a>
      </div>
      <div class="row col-md-4 col-6 text-center">
        <img src="assets/img/geminis.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
        <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Geminis</a>
      </div>
      <div class="row col-md-4 col-6 text-center">
        <img src="assets/img/leo.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
        <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Leo</a>
      </div>
      <div class="row col-md-4 col-6 text-center">
        <img src="assets/img/piscis.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
        <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Piscis</a>
      </div>
      <div class="row col-md-4 col-6 text-center">
        <img src="assets/img/libra.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
        <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Libra</a>
      </div>
      <div class="row col-md-4 col-6 text-center">
        <img src="assets/img/sagitario.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
        <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Sagitario</a>
      </div>
      <div class="row col-md-4 col-6 text-center">
        <img src="assets/img/scorpio.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
        <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Escorpio</a>
      </div>
      <div class="row col-md-4 col-6 text-center">
        <img src="assets/img/virgo.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
        <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Virgo</a>
      </div>
      <div class="row col-md-4 col-6 text-center">
        <img src="assets/img/capricornio.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
        <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Capricornio</a>
      </div>
    </section>
    <section class="col-md-12">
      <div class="card border-white shadow-lg mb-5" id="acuario">
        <div class="card-header fs-4 bg-dark text-center" style="color: #82c4c3; border-bottom: #82c4c3 solid 2px;">Acuario - Dia</div>
          <div class="card-body bg-dark">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-8 col-xl-9 text-center text-sm-start">
                <h5 class="card-title" style="color: #82c4c3;">Acuario</h5>
                <p class="card-text text-white"><strong>Riqueza:</strong> sus finanzas con serenidad. Usted tiene la capacidad para concretar esos proyectos complicados y disfrutar del éxito sin la ayuda de alguien.<br>
                  <strong>Bienestar:</strong> Propóngase hacer una vida más saludable, evite los excesos en comida y bebidas. Si sale a cenar fuera de su casa, trate de controlarse con lo que come y bebe.<br>
                  <strong>Trabajo:</strong> Será una jornada para dejar al margen sus contradicciones y utilizar una buena estrategia laboral. Contará con muy buenas energías y esto repercutirá en su suerte.
                </p></div>
              <div class="col-6 col-md-4 col-xl-3 d-none d-sm-block">
                <img src="assets/img/acuario-logo.png" class="figure-img img-fluid rounded-5" style="width: 15rem;" alt="...">
              </div>
          </div>
        </div>
      </div>
      <div class="card border-white shadow-lg mb-5" id="aries">
        <div class="card-header fs-4 bg-dark text-center" style="color: #82c4c3; border-bottom: #82c4c3 solid 2px;">Aries - Dia</div>
          <div class="card-body bg-dark">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-8 col-xl-9 text-center text-sm-start">
                <h5 class="card-title" style="color: #82c4c3;">Aries</h5>
                <p class="card-text text-white"><strong>Riqueza:</strong> Relájese, ya que podrían haber demoras en las transacciones comerciales. Sepa que necesitará asesorarse antes de invertir sus bienes en ese negocio.<br>
                  <strong>Bienestar:</strong> Relájese, ya que su inconsciente podría jugarle una mala pasada en esa decisión que debe tomar en estos días y es tan importante para su vida.<br>
                  <strong>Trabajo:</strong> En los temas financieros, intente tener más empuje para asumir nuevas responsabilidades. Tome coraje y busque nuevos proyectos para ejecutarlos.
                </p></div>
              <div class="col-6 col-md-4 col-xl-3 d-none d-sm-block">
                <img src="assets/img/aries-logo.png" class="figure-img img-fluid rounded-5" style="width: 15rem;" alt="...">
              </div>
          </div>
        </div>
      </div>
    </section>
</div>
